In [3]:
import pandas as pd
import numpy as np
import datetime
from datetime import date
from conect_database import engine

In [4]:
data_netflix = pd.read_csv('../netflix_titles_data.csv', sep=';', encoding='UTF-8')
df_netflix = pd.DataFrame(data_netflix)

data_disney = pd.read_csv('../disney_plus_titles_data.csv', sep=',', encoding='UTF-8')
df_disney = pd.DataFrame(data_disney)

**Iniciamos con un analisis exploratorio de los datos para determinar que campos tenemos, que tipo de dato estan almacenando y que cantidad de informacion nula hay en el archivo original**

In [5]:
df_netflix.columns

Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'description'],
      dtype='object')

In [6]:
df_disney.columns

Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'description'],
      dtype='object')

In [7]:
df_netflix.dtypes

show_id         object
type            object
title           object
director        object
cast            object
country         object
date_added      object
release_year    object
rating          object
duration        object
listed_in       object
description     object
dtype: object

In [8]:
df_disney.dtypes

show_id         object
type            object
title           object
director        object
cast            object
country         object
date_added      object
release_year     int64
rating          object
duration        object
listed_in       object
description     object
dtype: object

In [9]:
df_disney.sample(5)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
330,s331,Movie,Arendelle Castle Yule Log,NaN,NaN,United States,"December 18, 2020",2020,TV-G,180 min,"Animation, Family",Set the wintry mood for your holiday celebrati...
1150,s1151,Movie,Queen of Katwe,Mira Nair,"David Oyelowo, Lupita Nyong'o, Madina Nalwanga...",United States,"November 12, 2019",2016,PG,125 min,"Biographical, Drama, Sports",A Ugandan girl’s life changes forever when she...
158,s159,TV Show,Behind the Attraction,NaN,Paget Brewster,NaN,"July 21, 2021",2021,TV-PG,1 Season,"Docuseries, Family",Behind the Attraction takes you on a wild ride...
759,s760,TV Show,Boy Meets World,NaN,"Ben Savage, William Daniels, Betsy Randle, Wil...",United States,"November 12, 2019",1993,TV-PG,7 Seasons,"Comedy, Coming of Age, Family","Adolescent Cory Matthews grows up, and faces p..."
1049,s1050,Movie,Marvel Studios' Iron Man 3,Shane Black,"Robert Downey Jr., Gwyneth Paltrow, Don Cheadl...",United States,"November 12, 2019",2013,PG-13,132 min,"Action-Adventure, Science Fiction, Superhero","His personal world destroyed, Tony Stark embar..."

In [10]:
df_netflix.sample(5)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
5309,s5310,Movie,Sohni Mahiwal,"Latif Faiziyev, Umesh Mehra","Zeenat Aman, Pran, Tanuja, Poonam Dhillon","India, Soviet Union","September 1, 2017",1984,TV-14,160 min,"Dramas, International Movies, Romantic Movies",After being violently separated from the woman...
2402,s2403,Movie,From A to B,Ali F. Mostafa,"Fahad Albutairi, Shadi Alfons, Fadi Rifaai, Sa...","United Arab Emirates, Jordan, Lebanon, Saudi A...","June 11, 2020",2014,TV-MA,104 min,"Comedies, Dramas, International Movies",To celebrate the memory of their pal who passe...
236,s237,Movie,Boomika,Rathindran R Prasad,"Aishwarya Rajesh, Vidhu, Surya Ganapathy, Madh...",NaN,"August 23, 2021",2021,TV-14,122 min,"Horror Movies, International Movies, Thrillers","Paranormal activity at a lush, abandoned prope..."
4545,s4546,Movie,Monty Python: Before the Flying Circus,Will Yapp,"Graham Chapman, Eric Idle, Terry Jones, Michae...",United Kingdom,"October 2, 2018",2000,TV-MA,56 min,"Comedies, Documentaries",Discover how six seemingly ordinary but suprem...
5552,s5553,Movie,Toro,Kike Maíllo,"Mario Casas, Luis Tosar, José Sacristán, Claud...",Spain,"April 1, 2017",2016,TV-MA,106 min,"Dramas, International Movies, Thrillers",Ex-con Toro's brother and former partner in cr...

In [11]:
df_netflix.describe(include='all')

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
count,8809,8808,8807,6173,7983,7976,8797,8807,8803,8804,8806,8806
unique,8809,3,8807,4528,7693,749,1768,75,18,221,514,8774
top,s1,Movie,Dick Johnson Is Dead,Rajiv Chilaka,David Attenborough,United States,"January 1, 2020",2018,TV-MA,1 Season,"Dramas, International Movies","Paranormal activity at a lush, abandoned prope..."
freq,1,6131,1,19,19,2817,109,1147,3207,1793,362,4

In [12]:
df_disney.describe(include='all')

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
count,1450,1450,1450,977,1260,1231,1447,1450.000000,1447,1450,1450,1450
unique,1450,2,1450,609,1193,89,167,NaN,9,158,329,1448
top,s1,Movie,Duck the Halls: A Mickey Mouse Christmas Special,Jack Hannah,Winston Hibler,United States,"November 12, 2019",NaN,TV-G,1 Season,"Animation, Comedy, Family","Cooper and Cami Wrather co-host ""Would You Wra..."
freq,1,1052,1,17,10,1005,722,NaN,318,219,124,2
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2003.091724,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21.860162,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1928.000000,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1999.000000,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2011.000000,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018.000000,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021.000000,NaN,NaN,NaN,NaN

**Una vez realizado un analisis inicial de los datos es posible determinar que en la plataforma de "Disney  Plus" los datos estan mas completos, y en los datos correspondientes a la plataforma "Netflix" el principal problema es que la informacion no esta normalizada, sobre todo los campos de fecha donde se observan fechas en formato texto, numero y nulos.
va a ser necesario limpiar y trasformar estos datos para poder cargarlos a la base de datos**

In [13]:
# len(df_disney[pd.isna(df_disney.show_id)])
len(df_disney[pd.isna(df_disney.date_added)])

3

**Procedemos a transformar los dataframes para poder proceder a la carga**

Establecemos un codigo de plataforma que permita crear una relacion a una tabla plataforma para saber idenficar a que servicio pertenece cada titulo

In [14]:

df_netflix['plataforma_id'] = 1
df_disney['plataforma_id'] = 2
df_netflix.insert(0, "id", np.nan) 
df_disney.insert(0, "id", np.nan)

**Porcedemos a transformar las fechas para posteriormente poder relacionarlo a una tabla calendario**

In [15]:
df_netflix['date_added'] = pd.to_datetime(df_netflix['date_added'], errors='coerce')
df_disney['date_added'] = pd.to_datetime(df_disney['date_added'], errors='coerce')
df_netflix['release_year'] = pd.to_datetime(df_netflix['release_year'], errors='coerce')
df_disney['release_year'] = pd.to_datetime(df_disney['release_year'], errors='coerce', format='%Y')
df_netflix['release_year'] = df_netflix['release_year'].dt.strftime('%Y')
df_disney['release_year'] = df_disney['release_year'].dt.strftime('%Y')
# df_disney['release_year'].head(10)

In [16]:
df_disney.sample(5)

,id,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,plataforma_id
1419,NaN,s1420,Movie,Yellowstone Cubs,Charles Draper,Rex Allen,United States,2019-11-12,1963,TV-PG,48 min,"Animals & Nature, Comedy, Family",Two bear cubs take a mischievous tour of Yello...,2
84,NaN,s85,Movie,The Scariest Story Ever: A Mickey Mouse Hallow...,"Alonso Ramirez Ramos, Eddie Trigueros, Dave Wa...","Chris Diamantopoulos, Tony Anselmo, Tress MacN...",NaN,2021-10-01,2017,TV-G,22 min,"Animation, Family, Parody",Mickey tells a scary story on Halloween.,2
747,NaN,s748,Movie,Benji the Hunted,Joe Camp,"Red Steagall, Frank Inn, Nancy Francis, Mike F...",United States,2019-11-12,1987,G,89 min,"Action-Adventure, Animals & Nature, Family",Benji must navigate the wilderness while carin...,2
575,NaN,s576,Movie,Dragon Around,Jack Hannah,NaN,United States,2020-04-03,1954,TV-G,7 min,"Animation, Family",Chip and Dale defend their home against Donald...,2
671,NaN,s672,TV Show,The Proud Family,NaN,"Tommy Davidson, Paula Parker, Jo Payton, Kyla ...",United States,2020-01-01,2001,TV-G,2 Seasons,"Animation, Comedy, Coming of Age","Follow the adventures of Penny, a typical Afri...",2

In [17]:
df_netflix[56:57]

,id,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,plataforma_id
56,NaN,s57,Movie,Naruto Shippuden the Movie: Blood Prison,Masahiko Murata,"Junko Takeuchi, Chie Nakamura, Rikiya Koyama, ...",Japan,2021-09-15,2011,TV-14,102 min,"Action & Adventure, Anime Features, Internatio...",Mistakenly accused of an attack on the Fourth ...,1

In [18]:
len(df_netflix.description[7264])

150

In [19]:
# df_carga = pd.concat(df_disney, df_netflix)
# df_carga.sample(10)

**IMPORTAMOS A LA BASE DE DATOS LA INFORMACION PROCESADA**

In [29]:
from sqlalchemy.types import Integer
from sqlalchemy.types import DATE
from sqlalchemy.types import VARCHAR 
from sqlalchemy.types import INTEGER
from sqlalchemy.types import Text
from sqlalchemy.types import DATETIME

In [22]:
df_disney.to_sql('shows', con=engine, if_exists='append', index=False,
           dtype={"show_id": VARCHAR(10), "type":VARCHAR(15), "title":VARCHAR(100), "director":VARCHAR(80),
            "cast":VARCHAR(200), "country":VARCHAR(50), "date_added": DATE, "release_year":INTEGER, "rating":VARCHAR(15),
            "duration":VARCHAR(50), "listed_in":VARCHAR(150), "description":VARCHAR(250),"plataforma_id":Integer})

-1

In [ ]:
df_db = pd.read_sql('SELECT * FROM shows', con=engine)
df_db.dtypes
# df_db.to_sql()

In [31]:

try:
    df_netflix.to_sql('shows', con=engine, if_exists='replace', index=False)
    print('Carga Exitosa')
except Exception as ex:
    print('Error al cargar')
    print(ex)

Carga Exitosa

**CARGA DE LA TABLA CALENDARIO**

In [25]:
df_calendar = df_netflix[['date_added','release_year']]
df_calendar.rename({'release_year':'año'}, axis=1, inplace=True)
df_calendar

C:\Users\Usuario\AppData\Local\Temp\ipykernel_26084\1745362995.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_calendar.rename({'release_year':'año'}, axis=1, inplace=True)

     date_added   año
0    2021-09-25  2020
1    2021-09-24  2021
2    2021-09-24  2021
3    2021-09-24  2021
4    2021-09-24  2021
...         ...   ...
8804 2019-11-20  2007
8805 2019-07-01  2018
8806 2019-11-01  2009
8807 2020-01-11  2006
8808 2019-03-02  2015

[8809 rows x 2 columns]

In [30]:
try:
    df_calendar.to_sql('calendario', con=engine, if_exists='replace', index=False, dtype={'date_added':DATETIME,'año':Text})
    print('Carga Exitosa')
except Exception as ex:
    print('Error al cargar')
    print(ex)

Error al cargar
'utf-8' codec can't decode byte 0xf1 in position 60: invalid continuation byte