In [14]:
import pandas as pd
import numpy as np
import datetime
from datetime import date
from conect_database import engine

In [2]:
data_netflix = pd.read_csv('../netflix_titles_data.csv', sep=';', encoding='UTF-8')
df_netflix = pd.DataFrame(data_netflix)

data_disney = pd.read_csv('../disney_plus_titles_data.csv', sep=',', encoding='UTF-8')
df_disney = pd.DataFrame(data_disney)

**Iniciamos con un analisis exploratorio de los datos para determinar que campos tenemos, que tipo de dato estan almacenando y que cantidad de informacion nula hay en el archivo original**

In [3]:
df_netflix.columns

Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'description'],
      dtype='object')

In [4]:
df_disney.columns

Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'description'],
      dtype='object')

In [5]:
df_netflix.dtypes

show_id         object
type            object
title           object
director        object
cast            object
country         object
date_added      object
release_year    object
rating          object
duration        object
listed_in       object
description     object
dtype: object

In [6]:
df_disney.dtypes

show_id         object
type            object
title           object
director        object
cast            object
country         object
date_added      object
release_year     int64
rating          object
duration        object
listed_in       object
description     object
dtype: object

In [8]:
df_disney.sample(5)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
1124,s1125,TV Show,Phil of the Future,NaN,"Ricky Ullman, Amy Bruckner, Craig Anton, Lise ...",United States,"November 12, 2019",2003,TV-G,2 Seasons,"Comedy, Coming of Age, Kids",Phil is just your average teenager – whose fam...
741,s742,Movie,Beach Picnic,Clyde Geronimi,NaN,United States,"November 12, 2019",1939,TV-G,9 min,"Animation, Comedy, Family",Donald Duck and Pluto are at the beach. See de...
474,s475,TV Show,Cosmos: A Spacetime Odyssey,NaN,"Neil Tyson, Stoney Emshwiller",United States,"July 10, 2020",2013,TV-PG,1 Season,"Action-Adventure, Docuseries, Family",A 13-part adventure across the universe of spa...
1082,s1083,Movie,Minutemen,Lev Spiro,"Jason Dolley, Luke Benward, Nicholas Braun, Ch...",United States,"November 12, 2019",2008,TV-G,91 min,"Action-Adventure, Comedy, Science Fiction",Three teen outcasts invent a time machine to s...
1116,s1117,Movie,Paris To Pittsburgh,"Sidney Beaumont, Michael Bonfiglio",Rachel Brosnahan,United States,"November 12, 2019",2018,TV-PG,77 min,Documentary,Americans are demanding action on climate chan...

In [9]:
df_netflix.sample(5)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
2915,s2916,Movie,Liefling,Brian Webber,"Lika Berning, Bobby van Jaarsveld, Marlee van ...",South Africa,"February 14, 2020",2010,TV-PG,118 min,"Comedies, International Movies, Music & Musicals",An adventure-loving young woman catches the at...
366,s367,TV Show,Glow Up,NaN,NaN,United Kingdom,"July 30, 2021",2021,TV-14,3 Seasons,"British TV Shows, International TV Shows, Real...","In this competition show, aspiring makeup arti..."
491,s492,Movie,Home Again,Hallie Meyers-Shyer,"Reese Witherspoon, Michael Sheen, Candice Berg...",United States,"July 8, 2021",2017,PG-13,97 min,"Comedies, Dramas, Romantic Movies",A newly single mom takes in three young male f...
6858,s6859,Movie,God Bless the Broken Road,Harold Cronk,"Patrika Darbo, Kim Delaney, Jordin Sparks, Mak...",United States,"February 9, 2019",2018,PG,111 min,"Children & Family Movies, Dramas, Faith & Spir...","After a young mother is widowed by war, her fa..."
3112,s3113,Movie,Being Mrs Elliot,Omoni Oboli,"Omoni Oboli, Majid Michel, Ayo Makun, Uru Eke,...",Nigeria,"December 20, 2019",2014,TV-14,113 min,"Dramas, International Movies, Romantic Movies",When a scorned wife from the city shares a cab...

In [22]:
df_netflix.describe(include='all')

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
count,8809,8808,8807,6173,7983,7976,8797,8807,8803,8804,8806,8806
unique,8809,3,8807,4528,7693,749,1768,75,18,221,514,8774
top,s1,Movie,Dick Johnson Is Dead,Rajiv Chilaka,David Attenborough,United States,"January 1, 2020",2018,TV-MA,1 Season,"Dramas, International Movies","Paranormal activity at a lush, abandoned prope..."
freq,1,6131,1,19,19,2817,109,1147,3207,1793,362,4

In [23]:
df_disney.describe(include='all')

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
count,1450,1450,1450,977,1260,1231,1447,1450.000000,1447,1450,1450,1450
unique,1450,2,1450,609,1193,89,167,NaN,9,158,329,1448
top,s1,Movie,Duck the Halls: A Mickey Mouse Christmas Special,Jack Hannah,Winston Hibler,United States,"November 12, 2019",NaN,TV-G,1 Season,"Animation, Comedy, Family","Cooper and Cami Wrather co-host ""Would You Wra..."
freq,1,1052,1,17,10,1005,722,NaN,318,219,124,2
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2003.091724,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21.860162,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1928.000000,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1999.000000,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2011.000000,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018.000000,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021.000000,NaN,NaN,NaN,NaN

**Una vez realizado un analisis inicial de los datos es posible determinar que en la plataforma de "Disney  Plus" los datos estan mas completos, y en los datos correspondientes a la plataforma "Netflix" el principal problema es que la informacion no esta normalizada, sobre todo los campos de fecha donde se observan fechas en formato texto, numero y nulos.
va a ser necesario limpiar y trasformar estos datos para poder cargarlos a la base de datos**

In [7]:
# len(df_disney[pd.isna(df_disney.show_id)])
len(df_disney[pd.isna(df_disney.date_added)])

3

**Procedemos a transformar los dataframes para poder proceder a la carga**

Establecemos un codigo de plataforma que permita crear una relacion a una tabla plataforma para saber idenficar a que servicio pertenece cada titulo

In [8]:

df_netflix['plataforma_id'] = 1
df_disney['plataforma_id'] = 2

**Porcedemos a transformar las fechas para posteriormente poder relacionarlo a una tabla calendario**

In [9]:
df_netflix['date_added'] = pd.to_datetime(df_netflix['date_added'], errors='coerce')
df_disney['date_added'] = pd.to_datetime(df_disney['date_added'], errors='coerce')
df_netflix['release_year'] = pd.to_datetime(df_netflix['release_year'], errors='coerce')
df_disney['release_year'] = pd.to_datetime(df_disney['release_year'], errors='coerce', format='%Y')
df_netflix['release_year'] = df_netflix['release_year'].dt.strftime('%Y')
df_disney['release_year'] = df_disney['release_year'].dt.strftime('%Y')
# df_disney['release_year'].head(10)

In [10]:
df_disney.sample(5)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,plataforma_id
1008,s1009,Movie,LEGO Star Wars: The New Yoda Chronicles - Raid...,Michael Hegner,"Tom Kane, Anthony Daniels, Matt Sloan, Trevor ...","Denmark, China",2019-11-12,2014,TV-Y7,24 min,"Action-Adventure, Animation, Comedy",Luke Skywalker attempts a daring raid on Corus...,2
1339,s1340,Movie,The Sound of Music,Robert Wise,"Julie Andrews, Christopher Plummer, Richard Ha...",United States,2019-11-12,1965,G,175 min,"Biographical, Family, Historical",A governess wins the hearts of many and leads ...,2
1424,s1425,Movie,Zapped,Peter DeLuise,"Zendaya , Chanelle Peloso, Spencer Boldman, Em...","Canada, United States",2019-11-12,2014,TV-G,95 min,"Comedy, Coming of Age, Science Fiction",Zoey discovers a magical app that can control ...,2
1416,s1417,Movie,Wreck-It Ralph,Rich Moore,"John Reilly, Sarah Silverman, Jack McBrayer, J...",United States,2019-11-12,2012,PG,103 min,"Action-Adventure, Animation, Comedy",Ralph sets out to prove that he is a true hero...,2
958,s959,Movie,Ice Age: The Great Egg-Scapade,Ricardo Curtis,"Raymond Albert Romano, John Leguizamo, Denis L...",United States,2019-11-12,2016,TV-G,26 min,"Animation, Comedy, Family",Our favorite Ice Age herd embarks on a rescue ...,2

In [11]:
df_netflix.sample(5)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description,plataforma_id
6491,s6492,Movie,Clarence Clemons: Who Do I Think I Am?,Nick Mead,Clarence Clemons,United States,2019-11-14,2019,TV-MA,88 min,"Documentaries, Music & Musicals",This intimate documentary follows the life of ...,1
534,s535,Movie,Si Doel the Movie 2,Rano Karno,"Maudy Koesnaedi, Rano Karno, Cornelia Agatha, ...",Indonesia,2021-07-06,2019,TV-G,95 min,"Dramas, International Movies",As Sarah and her child look to settle in Jakar...,1
14,s15,TV Show,Crime Stories: India Detectives,NaN,NaN,NaN,2021-09-22,2021,TV-MA,1 Season,"British TV Shows, Crime TV Shows, Docuseries",Cameras following Bengaluru police on the job ...,1
1210,s1211,TV Show,Love Alarm,NaN,"Kim So-hyun, Jung Ga-ram, Song Kang, Ko Min-si...",South Korea,2021-03-12,2021,TV-MA,2 Seasons,"International TV Shows, Korean TV Shows, Roman...",In a world where an app alerts people if someo...,1
6130,s6131,Movie,Amar Akbar Anthony,Manmohan Desai,"Vinod Khanna, Rishi Kapoor, Amitabh Bachchan, ...",India,2019-12-31,1977,TV-14,172 min,"Action & Adventure, Classic Movies, Comedies","Abandoned in a park by their father, Amar, Akb...",1

In [29]:
len(df_netflix.description[7264])

150

In [ ]:
df_carga = pd.concat(df_disney, df_netflix)
df_carga.sample(10)

**IMPORTAMOS A LA BASE DE DATOS LA INFORMACION PROCESADA**

In [30]:
import sqlalchemy as sa
import urllib
import pyodbc
parameters = urllib.parse.quote_plus("DRIVER=MySQL ODBC 8.0 Unicode Driver;"
                                     "Server=127.0.0.1;"
                                     "DATABASE=rkd_challenge;"
                                     "UID=root;"
                                     "PWD=")

try:
    engine = sa.create_engine("mysql+pyodbc:///?odbc_conect={}".format(parameters))
    print('Conexion exitosa')
except Exception as ex:
    print(ex)

Conexion exitosa

In [31]:

try:
    df_disney.to_sql('shows', con=engine, if_exists='append', index=False)
    print('Carga Exitosa')
except Exception as ex:
    print('Error al cargar')
    print(ex)

Error al cargar
(pyodbc.InterfaceError) ('IM002', '[IM002] [Microsoft][Administrador de controladores ODBC] No se encuentra el nombre del origen de datos y no se especificó ningún controlador predeterminado (0) (SQLDriverConnect)')
(Background on this error at: https://sqlalche.me/e/14/rvf5)