In [49]:
import pandas as pd
import numpy as np
import datetime
from datetime import date

In [177]:
data_netflix = pd.read_csv('./netflix_titles_data.csv', sep=';', encoding='UTF-8')
df_netflix = pd.DataFrame(data_netflix)

data_disney = pd.read_csv('./disney_plus_titles_data.csv', sep=',', encoding='UTF-8')
df_disney = pd.DataFrame(data_disney)

**Iniciamos con un analisis exploratorio de los datos para determinar que campos tenemos, que tipo de dato estan almacenando y que cantidad de informacion nula hay en el archivo original**

In [19]:
df_netflix.columns

Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'description'],
      dtype='object')

In [20]:
df_disney.columns

Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'description'],
      dtype='object')

In [106]:
df_netflix.dtypes

show_id         object
type            object
title           object
director        object
cast            object
country         object
date_added      object
release_year    object
rating          object
duration        object
listed_in       object
description     object
dtype: object

In [104]:
df_disney.dtypes

show_id          object
type             object
title            object
director         object
cast             object
country          object
date_added       object
release_year      int64
rating           object
duration         object
listed_in        object
description      object
Id_plataforma     int64
dtype: object

In [23]:
df_disney.sample(5)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
58,s59,TV Show,PJ Masks,NaN,"Kyle Breitkopf, Jacob Ursomarzo, Addison Holley","France, United Kingdom","October 20, 2021",2015,TV-Y7,5 Seasons,"Action-Adventure, Animation, Kids",Look out Night Time Baddies the PJ Masks are c...
0,s1,Movie,Duck the Halls: A Mickey Mouse Christmas Special,"Alonso Ramirez Ramos, Dave Wasson","Chris Diamantopoulos, Tony Anselmo, Tress MacN...",NaN,"November 26, 2021",2016,TV-G,23 min,"Animation, Family",Join Mickey and the gang as they duck the halls!
658,s659,Movie,Drain The Bermuda Triangle,Jobim Sampson,Russell Boulter,United States,"January 1, 2020",2014,TV-PG,45 min,Documentary,Explore the Bermuda Triangle by draining the w...
919,s920,TV Show,Goof Troop,NaN,"Nancy Cartwright, Jim Cummings, Dana Hill, Rob...",United States,"November 12, 2019",1992,TV-Y7,1 Season,"Animation, Comedy, Kids","Goofy is a single father raising his son, Max ..."
1066,s1067,Movie,Meet the Deedles,Steve Boyum,"Paul Walker, Steve Wormer, John Ashton, A.J. L...",United States,"November 12, 2019",1998,PG,94 min,"Buddy, Comedy",Two surfer dudes try to stop an ex-park ranger...

In [24]:
df_netflix.sample(5)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
7150,s7151,Movie,Junebug,Phil Morrison,"Amy Adams, Embeth Davidtz, Ben McKenzie, Aless...",United States,"March 1, 2019",2005,R,107 min,"Comedies, Dramas, Independent Movies",When a big-city art dealer travels to North Ca...
1518,s1519,Movie,Ma Rainey's Black Bottom: A Legacy Brought to ...,NaN,"Glynn Turman, Denzel Washington, George C. Wol...",NaN,"December 18, 2020",2020,TV-PG,32 min,"Documentaries, Music & Musicals","Viola Davis, Denzel Washington, George C. Wolf..."
8531,s8530,Movie,The Tiger Hunter,Lena Khan,"Danny Pudi, Jon Heder, Rizwan Manji, Karen Dav...",United States,"April 9, 2018",2016,TV-14,94 min,"Comedies, Dramas, Independent Movies","It's 1979, and engineer Sami is excited to lea..."
2278,s2279,Movie,Mary Kom,Omung Kumar,"Priyanka Chopra, Darshan Kumar, Sunil Thapa, K...",India,"July 5, 2020",2014,TV-PG,120 min,"Dramas, International Movies, Sports Movies",The daughter of a poor rice farmer overcomes t...
6087,s6088,Movie,Act of Vengeance,Mahsun Kırmızıgül,"Haluk Bilginer, Mahsun Kırmızıgül, Mustafa San...","Turkey, United States","September 29, 2018",2010,NR,112 min,"Action & Adventure, International Movies",Two Turkish agents are sent to New York City o...

In [28]:
df_netflix.describe(include='all')

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
count,8809,8808,8807,6173,7983,7976,8797,8807,8803,8804,8806,8806
unique,8809,3,8807,4528,7693,749,1768,75,18,221,514,8774
top,s1,Movie,Dick Johnson Is Dead,Rajiv Chilaka,David Attenborough,United States,"January 1, 2020",2018,TV-MA,1 Season,"Dramas, International Movies","Paranormal activity at a lush, abandoned prope..."
freq,1,6131,1,19,19,2817,109,1147,3207,1793,362,4

In [27]:
df_disney.describe(include='all')

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
count,1450,1450,1450,977,1260,1231,1447,1450.000000,1447,1450,1450,1450
unique,1450,2,1450,609,1193,89,167,NaN,9,158,329,1448
top,s1,Movie,Duck the Halls: A Mickey Mouse Christmas Special,Jack Hannah,Winston Hibler,United States,"November 12, 2019",NaN,TV-G,1 Season,"Animation, Comedy, Family","Cooper and Cami Wrather co-host ""Would You Wra..."
freq,1,1052,1,17,10,1005,722,NaN,318,219,124,2
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2003.091724,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21.860162,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1928.000000,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1999.000000,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2011.000000,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2018.000000,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021.000000,NaN,NaN,NaN,NaN

**Una vez realizado un analisis inicial de los datos es posible determinar que en la plataforma de "Disney  Plus" los datos estan mas completos, y en los datos correspondientes a la plataforma "Netflix" el principal problema es que la informacion no esta normalizada, sobre todo los campos de fecha donde se observan fechas en formato texto, numero y nulos.
va a ser necesario limpiar y trasformar estos datos para poder cargarlos a la base de datos**

In [56]:
# len(df_disney[pd.isna(df_disney.show_id)])
len(df_disney[pd.isna(df_disney.date_added)])

3

**Procedemos a transformar los dataframes para poder proceder a la carga**

Establecemos un codigo de plataforma que permita crear una relacion a una tabla plataforma para saber idenficar a que servicio pertenece cada titulo

In [107]:

df_netflix['Id_Plataforma'] = 1
df_disney['Id_plataforma'] = 2

**Porcedemos a transformar las fechas para posteriormente poder relacionarlo a una tabla calendario**

In [180]:
df_netflix['date_added'] = pd.to_datetime(df_netflix['date_added'], errors='coerce')
df_disney['date_added'] = pd.to_datetime(df_disney['date_added'], errors='coerce')
df_netflix['release_year'] = pd.to_datetime(df_netflix['release_year'], errors='coerce')
df_disney['release_year'] = pd.to_datetime(df_disney['release_year'], errors='coerce', format='%Y')
df_netflix['release_year'] = df_netflix['release_year'].dt.strftime('%Y')
df_disney['release_year'] = df_disney['release_year'].dt.strftime('%Y')
# df_disney['release_year'].head(10)

0    2016
1    1988
2    2011
3    2021
4    2021
5    2021
6    2021
7    2015
8    2019
9    2008
Name: release_year, dtype: object